<div style="color:white;">
    <h3><%=title %> Announcement</h3>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="announcementTitle" name="title" value="<%=announcement.title%>" required>
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea type="text" class="form-control" id="announcementContent" rows="3" name="content"  required><%=announcement.content%></textarea>
          </div>
    
          <button type ="submit" class ="btn btn-primary" id="editButton">Edit</button>
          
    </form>
</div>

